---
layout: default
---

<div class="home">
  {% include card.html title="Objective" decal-img="obj.png" markdown-content="objective.md" %}
  {% include card.html title="Experience" decal-img="laptop.png" markdown-content="experience.md" %}
  {% include card.html title="Education" decal-img="ubc.png" markdown-content="education.md" %}
  {% include card.html title="Projects" decal-img="project.png" markdown-content="projects.md" %}
  {% include card.html title="Skills" decal-img="skills.png" markdown-content="skills.md" %}
</div>